Q1- Create an element-wise comparison (greater, greater_equal, less and less_equal) of two given arrays

In [3]:
import numpy as np
import pandas as pd
x = np.array([3, 5])
y = np.array([2, 5])
print("Comparison - greater")
print(np.greater(x, y))
print("Comparison - greater_equal")
print(np.greater_equal(x, y))
print("Comparison - less")
print(np.less(x, y))
print("Comparison - less_equal")
print(np.less_equal(x, y))

Comparison - greater
[ True False]
Comparison - greater_equal
[ True  True]
Comparison - less
[False False]
Comparison - less_equal
[False  True]

Q2- Write a NumPy program to create an array of 10 zeros,10 ones, 10 fives.

In [15]:
array=np.zeros(10)
print(f"10 Zeros Array: {array}")
array=np.ones(10)
print(f"10 Ones Array: {array}")
array=np.ones(10)*5
print(f"10 Fives Array: {array}")

10 Zeros Array: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
10 Ones Array: [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
10 Fives Array: [5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

Q3- Write a NumPy program to compute sum of all elements, sum of each column and sum of each row of a
given array.

In [16]:
x = np.array([[0,1],[2,3]])
print(f"Sum of all elements: {np.sum(x)}")
print(f"Sum of each column: {np.sum(x, axis=0)}")
print(f"Sum of each row: {np.sum(x, axis=1)}")

Sum of all elements: 6
Sum of each column: [2 4]
Sum of each row: [1 5]

Q4- Write a NumPy program to add, subtract, multiply, divide arguments element-wise.

In [17]:
print(f"Add: {np.add(1.0, 2.0)}")
print(f"Substract: {np.subtract(1.0, 2.0)}")
print(f"Multiply: {np.multiply(1.0, 2.0)}")
print(f"Divide: {np.divide(1.0, 2.0)}")

Add: 3.0
Substract: -1.0
Multiply: 2.0
Divide: 0.5

Q5- Write a NumPy program to compute the trigonometric sine, cosine and tangent array of angles given in
degree.

In [18]:
print("sine: array of angles given in degrees")
print(np.sin(np.array((0., 30., 45., 60., 90.)) * np.pi / 180.))
print("cosine: array of angles given in degrees")
print(np.cos(np.array((0., 30., 45., 60., 90.)) * np.pi / 180.))
print("tangent: array of angles given in degrees")
print(np.tan(np.array((0., 30., 45., 60., 90.)) * np.pi / 180.))

sine: array of angles given in degrees
[0.         0.5        0.70710678 0.8660254  1.        ]
cosine: array of angles given in degrees
[1.00000000e+00 8.66025404e-01 7.07106781e-01 5.00000000e-01
 6.12323400e-17]
tangent: array of angles given in degrees
[0.00000000e+00 5.77350269e-01 1.00000000e+00 1.73205081e+00
 1.63312394e+16]

Q6- Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the
index labels.

In [4]:

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
a=pd.DataFrame(data, index=labels)
print(a)

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

Q7- Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

In [7]:
exam_data  = {'name': ['Anjali', 'Rahul', 'Shivansh', 'Prateek', 'Kshitij', 'Lucky', 'Devansh'],
        'score': [12.5, 9, 16.5, np.nan, 19, 14, 18.5],
        'attempts': [1, 3, 2, 3, 2, 3, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

df = pd.DataFrame(exam_data , index=labels)
print(df[['name', 'score']])

       name  score
a    Anjali   12.5
b     Rahul    9.0
c  Shivansh   16.5
d   Prateek    NaN
e   Kshitij   19.0
f     Lucky   14.0
g   Devansh   18.5

Q8- Write a Pandas program to join the two given dataframes along rows and assign all data.

In [9]:
student_data1 = pd.DataFrame({
        'student_id': ['1', '2', '3', '4', '5'],
         'name': ['Shivansh', 'Prateek', 'Kshitij', 'Lucky', 'Devansh'], 
        'marks': [450, 358, 256, 410, 479]})

student_data2 = pd.DataFrame({
        'student_id': ['4', '5', '6', '7', '8'],
        'name': ['Anjali', 'Rahul', 'Dilip', 'Kritika', 'Yash'], 
        'marks': [456, 389, 187, 267, 410]})

result_data = pd.concat([student_data1, student_data2])
print(result_data)

  student_id      name  marks
0          1  Shivansh    450
1          2   Prateek    358
2          3   Kshitij    256
3          4     Lucky    410
4          5   Devansh    479
0          4    Anjali    456
1          5     Rahul    389
2          6     Dilip    187
3          7   Kritika    267
4          8      Yash    410

Q9- Write a Pandas program to detect missing values of a given DataFrame. Display True or False.

In [12]:
data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
a=pd.DataFrame(data, index=labels)
print(a)
print(a.isna())

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no
   birds    age  visits  priority
a  False  False   False     False
b  False  False   False     False
c  False  False   False     False
d  False   True   False     False
e  False  False   False     False
f  False  False   False     False
g  False  False   False     False
h  False   True   False     False
i  False  False   False     False
j  False  False   False     False

Q10- Write a Pandas program to create and display a one-dimensional array-like object containing an array of
data.

In [13]:
l = pd.Series([1, 3, 5, 7, 9, 11])
print(l)

0     1
1     3
2     5
3     7
4     9
5    11
dtype: int64